{
    "presets": [
      ["@babel/preset-env", {
          "modules": "false",
          "targets": {
              "browsers": ["last 2 versions", "ie >= 10"]
          }
      }]
  ],
    "plugins": ["babel-plugin-transform-es2015-modules-amd", "syntax-async-functions", "transform-regenerator", "@babel/plugin-syntax-dynamic-import"]
  }